# === ОС ===
# macOS служебные файлы
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# === IDE/редакторы ===
# VS Code
.vscode/

# CLion/IntelliJ IDEA
.idea/
*.iml

# === CMake ===
# Папки сборки
build/
cmake-build-*/

# Файлы CMake кеша
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt

# === Компиляторы и бинарники ===
*.o
*.obj
*.lo
*.la
*.al
*.libs
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.a
*.lib

# === Логи и временные файлы ===
*.log
*.tmp
*.swp
*.swo
